* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  .wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #c7cccd;
  }
  .left{
    width: 25%;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .right{
    width: 75%;
  }
  .uploadFile{
    display: flex;
    align-items: center;
    width: 350px;
    background-color: #ecf1f2;
    min-height: fit-content;
    border-radius: 10px;
    padding: 10px;
  }
  /* .uploadForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
  } */
  
  /* Style the form */
  .uploadForm {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  /* Style the file input */
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  /* Style the text input */
  input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  button {
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: red;
  }
  .box {
    min-height: 380px;
    width: 350px;
    border-radius: 10px;
    /* box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 30px;
    background-color: #ecf1f2;
  }
  .upper-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 220px;
  }
  
  .upper-icons svg:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .profile-circle {
    margin-top: 2px;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100px;
    border-radius: 50%;
  }
  
  .profile-info {
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    line-height: 25px;
  }
  
  .profile-info p {
    color: #7c8293;
    font-size: 14px;
  }
  
  .social-icon {
    margin-top: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  
  .fb,
  .insta,
  .twitt,
  .uTube {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    cursor: pointer;
  }
  
  .btns {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 80px;
    width: 100%;
  }
  
  .btns button {
    background: none;
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    cursor: pointer;
  }
  
  .btns button:hover {
    background: none;
    border: none;
    background: #ecf0f3;
    outline: none;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    box-shadow: inset -2px -2px 3px #ffffff, inset 2px 2px 3px #ceced1;
  }
  
  .extra-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0px 25px;
    margin-top: 15px;
  }
  
  .fb,
  .insta,
  .uTube,
  .twitt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fb:hover,
  .insta:hover,
  .uTube:hover,
  .twitt:hover {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: inset -2px -2px 3px #ffffff, inset 2px 2px 3px #ceced1;
  }

  .logout{
    color: red;
    background-color: rgb(202, 199, 199);
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
  }
  
  /* Style for the card container */
.card {
  width: 250px;
  border: 1px solid #ddd;
  background-color: #ecf1f2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 4px gray;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.Cards{
  display: flex;
  flex-wrap: wrap;
}
/* Style for the card image container */
.cardimage {
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* Style for the card image */
.cardimage img {
  margin-top: 10px;
  width: 180px;
  height: auto;
}

/* Style for the card content */
.filecaption {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
